[submodule "external/source/april-asr"]
	path = external/source/april-asr
	url = git@github.com:abb128/april-asr.git
[submodule "external/source/portaudio"]
	path = external/source/portaudio
	url = git@github.com:PortAudio/portaudio.git
