# April model
/models
*.april

# Build output
/build
/bin

# Logs
*.log

# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*

# Executables
*.exe
*.out

# Gitmodule library artifacts
# /external/source
/external/lib

# Editor-Specific
/.vscode
/.nvim
/.vs
*.vsix
